@font-face {
  font-family: Urbanist;
  src: url('assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf');
}

@import 'tailwindcss';
/* Add color theme to this */
@theme {
  --font-urbanist: 'Urbanist', san-serif;
  --main-color: #333;
}

body {
  @apply m-0;
  font-family:
    Urbanist,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-color);
  font-weight: 400;
  max-width: 440px;
  margin: 0 auto;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
